ul.list{
    display: flex;
    align-items: center;
}

.item{
    margin:30px;
    list-style: none;
}

.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;

}
[data-action="load-more"].is-hidden{
    display: none;
}

.spinner-border.is-hidden{
    display: none;
}